<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link rel='stylesheet' href='/styles/mystyle.css' />
  </head>
  <body>
    <header>
      <h3><%= title %> to Collaborative Whiteboard</h3>
    </header>
    <section>
      <article style="width:100%";>
        <h1 style="text-align: center;">Collaborative Whiteboard</h1>
        <p>Shared visual workspaces that provide a rich, digital equivalent to analogue whiteboards are collaborative whiteboards. They allow cooperative interaction, which includes communication channels, file sharing, media access and templated presentation, beyond drawing and writing metaphors.</p>
        <p>The leading solutions, such as commenting, chatting, @-mentioning and video conferencing, go far beyond shared drawings on a digital canvas to leverage social communications found in other job technologies. These collaborative whiteboards also have advanced integrations with other enterprise software, particularly apps for file sharing, productivity tools, and solutions for work management.</p>
        <p>To Use the whiteboard please click here <a href="/learning_whiteboard">Whiteboard</a><p>
      </article>
    </section>
    <footer>
      <p>Whiteboard@2020 version1</p>
    </footer>
  </body>
</html>